.gray {
    fill: rgb(0, 0, 0, 0.25);
    cursor: pointer;
}
.green {
    fill: green;
    cursor: pointer;
}
.wheat {
    fill: wheat;
    cursor: pointer;
}
.black {
    fill: black;
    cursor: pointer;
}
.red {
    fill: red;
    cursor: pointer;
}